/* font-family: 'Comfortaa', sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /*display: flex;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}
h1 {
  font-size: 45px;
  padding-top: 200px;
  /*border: solid yellow 2px;*/
}

h1,
h3 {
  font-family: "Comfortaa", sans-serif;
  margin: auto;
  text-align: center;
}

h3 {
  width: 75%;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 5px;
  /*border: solid white 2px;*/

  margin-top: 25px;
  margin-bottom: 25px;
}
.resultsDisplay {
  display: flex;
}
p {
  font-family: "Comfortaa", sans-serif;
  padding: 40px;
  font-size: 35px;
}
/* container holding cards*/
.memory-game {
  background-color: #344966;
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8em);
  grid-gap: 2rem;
  perspective: 800px;
}
/*
  Styling from other style
  (width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
*/

.card {
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 15px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  pointer-events: none;
  border-radius: 15px;
}
.back {
  background: #1c7ccc;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}
/* memory card pseduo class which is the keyword , preceded by a colon - it is added  to the end of selectors to specify you want to style the selected elemtns, and only when they are in certain state
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
*/
