/* 
font-family: 'Comfortaa', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 26, 128);
}

/* .fullGame {
  height: 100vh;
  background-color: black;
} */

.intro {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: black;
  transition: opacity 0.5s ease;
  z-index: 2;
  /* opacity: 0; */
}
/*
.intro:hover {
  background-color: orange;
}*/

#introTitle {
  font-size: 45px;
  text-align: center;
  color: #fff3c7;
}

#playerRulesDiv {
  width: 80%;
  color: #fff3c7;
  font-family: "Poppins", sans-serif;
}

#gameDescription {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  line-height: 1.4;
  color: #fff3c7;
  padding-bottom: 25px;
}

.playerRulesSubtitle {
  color: #fff3c7;
  font: 18px;
  background: #1c7ccc;
  padding: 5px;
}

.playerRules {
  color: #fff3c7;
  padding-bottom: 25px;
}

#playerOneBtn,
#playerTwoBtn {
  height: 40px;
  width: 180px;
  font-size: 15px;
  background: #fff3c7;
  border-radius: 20px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

/*----------------------------------*/
/* STYLING FOR ELEMENTS ON SIDEBAR*/
/*--------------------------------*/

.match-container {
  /* transition: opacity 0.5s ease 0.5s; */
  position: absolute;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* z-index: -1; */
  height: 100vh;
  width: 100%;
  /* display: flex; */

  /* display: inline; */
  flex-wrap: wrap;
  background-color: black;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
}

.resultsDisplay {
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  display: flex;
  color: #fff3c7;
  font-family: "Comfortaa", sans-serif;
  background-color: purple;
}

#playerOne p {
  /*background-color: rgb(57, 126, 166);*/
  display: inline-block;
  padding-right: 30px;
}
#playerTwo p {
  /*background-color: rgb(57, 166, 106);*/
  display: inline-block;
  padding-right: 30px;
}

/* .seeMe {
  color: #fff3c7;
  opacity: 1;
  z-index: 2;
} */

.p2FadeOut {
  opacity: 0;
}

p.timer {
  visibility: visible;
}

.side {
  padding: 20px;
  width: 35%;
  flex-wrap: wrap;
  /* border: solid rgb(153, 144, 238) 5px; */
}
.side h1 {
  /* width: 45%; */
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 1;
  color: #fff3c7;
  /* border: solid yellow 2px;
  font-family: "Open Sans", sans-serif;*/
}

.cardTitle {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  color: #fff3c7;
  font-size: 12px;
  font-family: "Comfortaa", sans-serif;
}
.artist-bar {
  padding-top: 10px;
  padding-left: 8px;
  background-color: #fff3c7;
  color: black;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  height: 40px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid black;
  align-self: center;
}
.about {
  margin-top: 15px;

  font-family: "Comfortaa", sans-serif;
  color: #fff3c7;
  font-size: 12px;
  line-height: 1.6;
}

/*----------------------------------*/
/* STYLING FOR GRID/CARDS*/
/*--------------------------------*/

#gameBoardContainer {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  /* border: solid rgb(79, 176, 169) 4px; */
}

.gameBoard {
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  perspective: 800px;
  /* object-fit: contain; */
  /* margin-top: 24px;
  margin-bottom: 40px; */
  /*display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;*/
}

.gameBoard:hover {
  background-color: #344966;
}

.card {
  /* background-color: white; */
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px; */
  border-radius: 15px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  /* padding: 5px; */
  position: absolute;
  pointer-events: none;
  border-radius: 15px;
  border: black 5px solid;
}
.back {
  background: #1c7ccc;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
  pointer-events: none;
}
.lock {
  pointer-events: none;
}
.face {
  transform: rotateY(-180deg);
}
